@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&display=swap');

* {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.serif {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;